<div class="grid-container">
    <h1 class="mat-h1">Bewertung der Module</h1>
    <mat-grid-list cols="2" rowHeight="150px">
        <mat-grid-tile colspan="1" rowspan="1">
            <p>
                Die Unterlagen der selbstgesteuerten Lernmodule unterstützten Sie beim Erreichen Ihres Lernerfolgs.
            </p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4</mat-button-toggle>
                <mat-button-toggle value="5">5</mat-button-toggle>
                <mat-button-toggle value="6">6</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <p>
                Die Übungen der Modulunterlagen waren verständlich und handlungsorientert.
            </p>

        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">

            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4</mat-button-toggle>
                <mat-button-toggle value="5">5</mat-button-toggle>
                <mat-button-toggle value="6">6</mat-button-toggle>
            </mat-button-toggle-group>

        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <p>
                Die Standart- und Lernsoftware wurden themen- und inhaltsbezogen eingesetzt.
            </p>

        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">

            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4</mat-button-toggle>
                <mat-button-toggle value="5">5</mat-button-toggle>
                <mat-button-toggle value="6">6</mat-button-toggle>
            </mat-button-toggle-group>

        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <p>
                Die Unterstützung der Trainer war ergebnisorientiert.
            </p>

        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">

            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4</mat-button-toggle>
                <mat-button-toggle value="5">5</mat-button-toggle>
                <mat-button-toggle value="6">6</mat-button-toggle>
            </mat-button-toggle-group>

        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <p>
                Die Konsultationen/Auswertungen der Trainer waren aufgaben- und situationsgerecht.
            </p>

        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">

            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4</mat-button-toggle>
                <mat-button-toggle value="5">5</mat-button-toggle>
                <mat-button-toggle value="6">6</mat-button-toggle>
            </mat-button-toggle-group>

        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <p>
                Das Arbeitsklima war angenehm und leistungsfördernd beim eigenständigen Lernen.
            </p>

        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">

            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4</mat-button-toggle>
                <mat-button-toggle value="5">5</mat-button-toggle>
                <mat-button-toggle value="6">6</mat-button-toggle>
            </mat-button-toggle-group>

        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <p>
                Die Ausstattung der Räume und die vorhandene Technik war gut.
            </p>

        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">

            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4</mat-button-toggle>
                <mat-button-toggle value="5">5</mat-button-toggle>
                <mat-button-toggle value="6">6</mat-button-toggle>
            </mat-button-toggle-group>

        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <p>
                Gesamteindruck
            </p>

        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">

            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4</mat-button-toggle>
                <mat-button-toggle value="5">5</mat-button-toggle>
                <mat-button-toggle value="6">6</mat-button-toggle>
            </mat-button-toggle-group>

        </mat-grid-tile>
    </mat-grid-list>
</div>